.SpeechInput-form {
  margin: 0 auto;
  font-size: .8rem;
  max-width: 70%;
}

.SpeechInput-form label {
  display: block;
  font-size: .8rem;
}

.SpeechInput-form label span {
  padding: .4rem .8rem;
  border-radius: 0.2rem;
  background-color: rgb(80, 80, 80);
  color: #fff;
}

.SpeechInput-form .SpeechInput-vocalization-title span {
  font-size: 1.8em;
  background-color: transparent;
  color: #000;
}

.SpeechInput-form input[type=text] {
  padding: 1rem;
  border: 0.125rem solid rgba(0, 32, 80, 0.20);
  border-radius: 0.5rem;
  background-color: rgba(230, 230, 230, 0.95);
  min-width: 50%;
  margin: 1rem .5rem 0 0;
}

.SpeechInput-form input[type=range] {
  min-width: 80%;
  margin: 1.2rem 0;

}

.SpeechInput-form button {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 32, 80);
  color: #fff;
  font-size: .8rem;
}

.SpeechInput-form button:hover {
  background-color: rgb(0, 32, 80, 95%);
}